
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(55deg, #fffffff8 0%, #ffffffd7 51%, #ffffffb9 85%);
    color: #222;
  /*font-family: sans-serif;*/
    user-select: none;
  }
 p{
      background-color: #ffffffea;
      color: #222;
      
  }
 /* make div tag, add two images make position absolute, top,bottom,left,right =0*/
  .header{
    padding-bottom: 50px;
    color:rgb(37, 37, 37);
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .welcomeheader{
    order: 1;
    width: 85%;
    font-size: 65px;
    order: 1;
  }
  .welcometext{
   order: 2;
   width: 75%;
   font-size: 30px;
   font-weight: 350;
   font-family: 'Roboto', sans-serif;
  }
  .bluebutton{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-color: #006ce7;
    background-color: #006ce7;
    border: 1px solid rgb(0,0,0,0);
    border-radius: 4px;
    color: white;

  }
  .headersignup{
    order: 3;
    font-size: 20px;
    padding: 30px 80px;
    justify-content: center;

  }
  .navsignup{
    padding: 15px 30px;
    margin: 15px 20px;
    font-size: 15px;
  }
  .bigpanel{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .bigpic{
    width: 40%;
  }

 /* next thing as you scroll down */
.format{
  display: flex;
  font-family: 'Roboto', 'sans-serif';
padding-top: 100px;
padding-bottom: 100px;
  width: 95%;
}
  .firstpictitle{
    font-size: 50px;
    color: #222;
  }
  .firstpictitlecont{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    
  }
  .firstpic{
      width: 550px;
      padding-right: 80px;
      height: 500px;
  }
  .firstpicbutton{
    display: flex;
    font-family: 'Roboto', sans-serif;

    color: #006ce7;
    border: none;
    background: none;

  }
  .ladypicbutton{
    font-size:20px;
    padding-top: 30px;
  }
  .format{
     display:flex;
  }
  .format div{
      width: 50%;
      display: flex;
      justify-content: center;
  }
  .rightside{
      flex-direction: column;
      padding-left: 30px;
  }
  .rightside p{
 width: 50%;
  }

  /* next thing as you scroll down*/
  .container-1{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}
.box-1{
    flex: 1;

}
.box-2{
    flex: 3;
}
.secondpictitle{
  color: #222;
  padding-top: -50;
  font-size: 50px;
  flex-direction: column;
}
.secondpictxt{
  color: #222;
  font-family: 'Roboto', sans-serif;
}
.secondpic{
    flex-direction: column;
    
}
.randomimages{
  position:relative;
}
.randomimage0{
  position: relative;
}
.thirdpictitle{
  font-size: 50px;
  color: #222;
}
.thirdpictitlecont{
  font-family: 'Roboto', sans-serif;

  width: 80%;
  padding-top: 30px;
}
.thirdpic{
    width: 550px;
    padding-right: 80px;
    height: 500px;
}


/*try re do this with the pictures on the adoric website under the large sign uo free button*/
.kathryn{
  position: absolute;
  bottom: 77px;
  right: -320px; 
  animation-fill-mode: forwards;
  animation: randomimageanimation 6s infinite;
}
.visitor{
  position: absolute;
  bottom: 100px;
  left: -325px;
  animation-fill-mode: backwards;
  animation: randomimageanimation 4s infinite;
}
.subscribe{
  position: absolute;
  bottom: 15px;
  left: 50px;
  animation-fill-mode: backwards;
  animation: randomimageanimation 5s infinite;

}
.thirdwhite{
  padding-left: 30px;
    display:flex;
     width: 100%;  
    justify-content: center;
     flex-direction: column;
     padding-left: 120px;

}
@keyframes randomimageanimation{
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.cursor{
  position: absolute;
  right: 350px;
  animation-name: mousemove;
 animation-direction: backwards;
  animation-duration: 4s;
}

.mousepic{
  position: relative;
  top: 300px;
  left: 600px;
}

@keyframes mousemove{
from{transform: translateX(0)}
to{transform: translateX(200px)}
}
.centergreypanel{
  display: flex;
  background-color: #ebeff4;
  padding: 250px;
  flex-direction: column;
  align-items: center;
}
.centerheader{
  font-family: 'Roboto', sans-serif;

  padding-top: -30px;
font-size: 50px;

}
.centertext{
  background-color: #ebeff4;
  font-family: 'Roboto', sans-serif;

  padding-top: 15px;
  font-size: 30px;
  text-align: center;
}
.create{
  position: absolute;
}
