*{
  text-decoration: none;
}

  .logo{
    display:flex;
    height: 65px;
    color: black;
    font-size: 25px;
    line-height: 70px;
  }
  .adoriclogo{
    height: 65px;
    width: 65px;
  }
  nav{
    align-items: center;
      display: flex;
      font-weight: bolder;
      background: #ffffff;
      box-shadow: 0 3px 15px solid white;

  }
  nav ul{
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-left:20px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: black;
    display: block;
    margin: 1px;
    padding: 0 0 0 20px;
    line-height: 70px;
    font-size: 17px;
    background: #ffffff;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #424242;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 5px solid white;
    opacity: 0;
    visibility: hidden;
  }
  nav ul ul li{
    width: 170px;
    display: list-item;
    position: relative;
    border: 1px solid white;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  nav ul li form{
      position: absolute;
      top: 30px;
      right: 35px;
      margin-left: 200px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  