body{
    font-family: robotolight;
    height: 3000px;
    background: linear-gradient(55deg, #fffffff8 0%, #ffffffd7 51%, #ffffffb9 85%);
  /*font-family: sans-serif;*/
    overflow: hidden;
    user-select: none;
  }
 b,p{
      position: fixed;
      width: 200px;
      height: 20px;
      margin-top: 7%;
      margin-left: 24%;
      background-color: #ffffffea;
      color: black;
      
  }
    /*b,p:hover{
cursor: pointer;
transition: all 5s linear;
transform: rotate(360deg);*/
  .firstpictitle{
      position: fixed;
      font-family: robotolight_italic;
      font-size: 25px;
      margin-top: 10%;
      margin-left: 48%;
      min-height: 100px;
      flex-grow: 1;  
      order: 1;

  }
  .fade-in{
      position: fixed;
      width: 500px;
      height: 300px;
      margin-top: 10%;
      margin-left: 10%;
  }
  h2{
      margin-top: 1500px;
  }